<head>
  <style>

      .showing-container a {
        text-decoration: none;
        color: green;
      }

      .showing-container a:hover {
        color: orange;
      }

  </style>

</head>
<br>
<h2>Listing</h2>
<br>
  <p><%= @listing.listing_description %></p>
  <p>Address: <%= @listing.address %></p>
  <p>Price: <%= @listing.price %></p>
  <p>Features: <%= @listing.features %></p>

<br>
<div class="showing-container">
    <% if current_user != @listing.user %>
        <a href="/listings/<%= @listing.id %>/showings/new"><h3>Request a Showing</h3></a>
    <% end %>
</div>
<br>


<% if current_user == @listing.user %>  <!-- current_user and @listing.user returns their respective objs. --->
    <form action="/listings/<%= @listing.id %>/edit">
      <input type="submit" value="Update">
    </form>
 
    <br>

    <form action="/listings/<%= @listing.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form>

    <br>
    <br>
 <% end %>

<h4>Agent</h4>
<% if @listing.user%>
  <p><%= @listing.user.name %></p>           <!---#using the association -->
  <p><%= @listing.user.phone_number %></p>
  <p><%= @listing.user.email %> </p>
<% else %>
  <p>no agent</p>
<% end %>