<br>
<h1>Profile Page</h1>

<p>Name: <%= @user.name %></p>
<p>Phone Number: <%= @user.phone_number %></p>
<p>Email: <%= @user.email %></p>
<%= @user.password %>

<a href="/users/<%= @user.id %>/edit">Edit</a>
<br>
<br>
<form action="/users/<%= @user.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
</form>

<br>


<br>
<h2>Requested Showings</h2>
<% @user.showings.each do |showing| %>
    <p><%= showing.listing.address %></p>
    <p><%= showing.appointment %></p>
    <br>
    <h4>Agent</h4>
    <p>Name: <%= showing.listing.user.name %></p>
    <p>Phone Number: <%= showing.listing.user.phone_number %></p>
    <p>Status: <%= showing.status %></p>
    <% if showing.status == "cancelled" %>
        <form action="/showings/<%= showing.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
        </form>
    <% end %>
    
    <hr>

<% end %>

<h2>Showings for your properties</h2>
<% @showings.each do |showing| %>
    <p><%= showing.appointment%></p>
    <p><%= showing.user.name%></p>    
    <p><%= showing.user.phone_number%></p>
    <p><%= showing.listing.address%></p>
    <p>Status: <%= showing.status %></p>

    
    <form action="/showings/<%= showing.id %>/accepted" method="post">
        <input type="submit" value="Accept">
    </form>

    <br>
    <form action="/showings/<%= showing.id %>/cancelled" method="post">
        <input type="submit" value="Cancel">
    </form>
    <br>

    <br>
    <hr>
    <br>
<% end %>






<br>
<h2>Listings</h2>   <!------ Using the association has many listings------->
<% @user.listings.each do |listing| %>
    <p><%= listing.listing_description %></p>
    <p><%= listing.address %></p>
    <p><%= listing.price %></p>
    <p><%= listing.features %></p>
    <br>
    <a href="/listings/<%= listing.id %>/edit">Edit Listing</a>
    <br><br>
    <form action="/listings/<%= listing.id %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
    </form>

    <hr>
    <br>
<% end %>

